$main-grey: #b9b9b9;

::-webkit-scrollbar-thumb {
  background-color: $main-grey;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 70%;
}

.console {
  align-self: start;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.507);
  .MuiAccordionDetails-root {
    min-height: 218px;
  }
  h2 {
    margin: 0;
  }
  p {
    font-weight: 500;
    margin: 0 10px 0 0;
    transition: all 200ms;
    &:hover {
      color: rgb(53, 116, 209);
      transition: all 200ms;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 315px;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
  border-radius: 7px;
}
